.comment {
  padding-top: 15px;

  .meta {
    font-size: 12px;
    margin-bottom: 5px;

    .toggle {
      cursor: pointer;
    }
  }

  .children {
    padding-left: 20px;
  }

  .text {
    :global(p) {
      margin-top: 10px;
    }

    :global(pre) {
      margin-bottom: 10px;
      max-width: 900px;
      overflow: auto;
      padding: 2px;
      white-space: pre-wrap;
    }

    :global(a) {
      color: #000;
    }
  }
}
